<div class="row">
  <div class="large-12 columns" role="content">
		<h1>Control Panel</h1>
    <ul class="control-panel-buttons">
    	<li><%= link_to "Networking Partners", "#", class: "styled-button"%></li>
    	<li><%= link_to "Affiliates", "#", class: "styled-button"%></li>
    	<li><%= link_to "Newsletter", "#", class: "styled-button"%></li>
    	<li><%= link_to "Nancy's Place", "#", class: "styled-button"%></li>
    	<li><%= link_to "Paul's Place", "#", class: "styled-button" %></li>
    </ul>
	</div>
</div>

