<!-- Call to Action Panel -->
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h4>Get in touch!</h4>  
      <div class="row">
        <div class="large-9 columns">
          <p>The above links will take you to the "official" websites of the network marketing companies where Nancy and Paul will be pleased to be registered as your partner. Don't hesitate to call "customer support" if you have any questions. The number is at the top of each page. If someone has referred you to this website always make sure to follow "their" instructions on how to join their team. We want to help you to find a company that will light your fire. Nancy will be interviewing committed network marketers with other companies on "Nancy's Place".</p>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contact Us</a>
        </div>
      </div>
    </div>   
  </div>
</div>


<!-- Three-up Content Blocks -->

<div class="row">
	<div class="large-4 columns">
    <iframe width="310" height="227" src="//www.youtube.com/embed/aEKJ2BOOJF4" frameborder="0" allowfullscreen></iframe>
    <h4><%= link_to "Global Wealth Trade", "http://www.gwtopportunity.com" %></h4>
    <h5>Health and Fitness</h5>
    <p>Customer Support: 1-905-482-3078</p>
    <p>Founded in 2005 by Ramin Mesgarlou,  champion gold medalist in wrestling and Master Networker Guru.</p>
    <p>Head Office: Toronto, Ontario, Canada</p>
    <p>Serving clients in 50+ countries</p>
    <p>Products: MaxGXL, and other breakthrough Health, Energy and Anti-Aging products including "Max skincare system".</p>
    <p>Investment: Retail ONLY Package $306</p>
    <p>Binary Business Compensation Plan </br>
    	Investment:  $ 821 - $ 3,036</br>
      Monthly SAC - $ 75 - $ 150
    </p>
  </div>
  
  <div class="large-4 columns">
    <iframe width="310" height="227" src="//www.youtube.com/embed/ml6b6gTn3cs" frameborder="0" allowfullscreen></iframe>
    <h4><%= link_to 'MaxGXL', "http://www.max.com" %></h4>
    <h5>Health and Fitness</h5>
    <p>Customer Support: 1-801-316-6380</p>
    <p>Founded in 2006 after Co-Founder Steven K. Scott met world renown Doctor/Scientist, Dr. Robert H. Keller.Steve is a New York Times best-selling author of seven books, also co-founder of the Total Gym Fitness, and other high profile companies</p>
    <p>Head Office: Salt Lake City, Utah</p>
    <p>Presently in 7 countries including: Phillipines, Australia, New Zealand, Singapore & Colomia SA and growing...</p>
    <p>Products: MaxGXL, and other breakthrough Health, Energy and Anti-Aging products including "Max skincare system".</p>
    <p>Investment: $49 + monthly auto shipment of 100 PV</p>
    <p>Note:  When you sign a monthly loyalty clause it will be as little as $50 per bottle of Maxgxl.</p>
  </div>
  
  <div class="large-4 columns">
    <iframe width="310" height="227" src="//www.youtube.com/embed/-xaGLK75qo0" frameborder="0" allowfullscreen></iframe>
    <h4><%= link_to "Young Living", "http://www.youngliving.com" %></h4>
    <h5>Health and Fitness</h5>
    <p>Customer Support: 1-801-316-6380</p>
    <p>Founded in 2006 after Co-Founder Steven K. Scott met world renown Doctor/Scientist, Dr. Robert H. Keller.Steve is a New York Times best-selling author of seven books, also co-founder of the Total Gym Fitness, and other high profile companies</p>
    <p>Head Office: Salt Lake City, Utah</p>
    <p>Presently in 7 countries including: Phillipines, Australia, New Zealand, Singapore & Colomia SA and growing...</p>
    <p>Products: MaxGXL, and other breakthrough Health, Energy and Anti-Aging products including "Max skincare system".</p>
    <p>Investment: $49 + monthly auto shipment of 100 PV</p>
    <p>Note:  When you sign a monthly loyalty clause it will be as little as $50 per bottle of Maxgxl.</p>
  </div>
</div>

<!-- ------------------------------- -->

<div class="row">
	<div class="large-4 columns">
    <iframe width="310" height="227" src="//www.youtube.com/embed/MZZNej6u8lM" frameborder="0" allowfullscreen></iframe>
    <h4><%= link_to "Send Out Cards", "https://www.sendoutcards.com/NancyandPaul/" %></h4>
    <h5>Changing lives, 	one card at a time</h5>
    <p>Customer Support: 1-801-463-3800</p>
    <p>Founded in 2003 by Kody Bateman</p>
    <p>Head Office: in Salt Lake City, Utah USA</p>
    <p>Countries include  Canada, USA, Australia, New Zealand, Singapore, Ireland, the United Kingdom and expanding. Those from other countries can be customers.</p>
    <p>Retail customer: For a Monthly Payment of only $9.80 US plus tax for 10 points a customer can send five 2-panel cards. Postage is extra. No contract. Cancel anytime after the month.
    </p>
    <p>Customers & distributors can also include gift cards or choose from a vast catalog of gifts.</p>
 
    <p>Investment for Independent Distributor (ID): $50 US refundable deposit</p>
 
		<p>Investment for Marketing Distributor (MD):  $295 US which includes all features of ID membership plus: </br>
        - 100 points for cards </br>
        - replicated website </br>
				- free tickets to all "Treat 'Em Right" seminars
		</p>
  </div>
  
  <div class="large-4 columns">
    <iframe width="310" height="227" src="//www.youtube.com/embed/erpXkgYBMn4" frameborder="0" allowfullscreen></iframe>
    <h4><%= link_to 'Lyoness', "http://www.lyoness.net/" %></h4>
    <h5>Global Loyalty Rewards Program</h5>
    <p>Customer Support: 1-xxxxx</p>
    <p>Founded in 2006 after Co-Founder Steven K. Scott met world renown Doctor/Scientist, Dr. Robert H. Keller.Steve is a New York Times best-selling author of seven books, also co-founder of the Total Gym Fitness, and other high profile companies</p>
    <p>Head Office: Salt Lake City, Utah</p>
    <p>Presently in 7 countries including: Phillipines, Australia, New Zealand, Singapore & Colomia SA and growing...</p>
    <p>Products: MaxGXL, and other breakthrough Health, Energy and Anti-Aging products including "Max skincare system".</p>
    <p>Investment: $49 + monthly auto shipment of 100 PV</p>
    <p>Note:  When you sign a monthly loyalty clause it will be as little as $50 per bottle of Maxgxl.</p>
  </div>
  
  <div class="large-4 columns">
    <iframe width="310" height="227" src="//www.youtube.com/embed/lVwETHEGK3c" frameborder="0" allowfullscreen></iframe>
    <h4><%= link_to "Talk Fusion", "http://1843081.talkfusion.com/home.asp" %></h4>
    <h5>Media and Video</h5>
    <p>Customer Support: 1-801-316-6380</p>
    <p>Founded in 2006 after Co-Founder Steven K. Scott met world renown Doctor/Scientist, Dr. Robert H. Keller.Steve is a New York Times best-selling author of seven books, also co-founder of the Total Gym Fitness, and other high profile companies</p>
    <p>Head Office: Salt Lake City, Utah</p>
    <p>Presently in 7 countries including: Phillipines, Australia, New Zealand, Singapore & Colomia SA and growing...</p>
    <p>Products: MaxGXL, and other breakthrough Health, Energy and Anti-Aging products including "Max skincare system".</p>
    <p>Investment: $49 + monthly auto shipment of 100 PV</p>
    <p>Note:  When you sign a monthly loyalty clause it will be as little as $50 per bottle of Maxgxl.</p>
  </div>
</div>
    

