<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
       <li><%= link_to "Networking Partners", pages_networking_partners_path %></li>
       <li><%= link_to "Affiliates", pages_affiliates_path %></li>       
       <li><%= link_to "Newsletter", pages_newsletters_path %></li>
       <li><%= link_to "Nancy's Place", pages_nancys_place_path %></li>
       <li><%= link_to "Paul's Place", pages_pauls_place_path %></li>
      </ul>
    </div>
    <h1><%= link_to "Nan Emporium", pages_home_path, class: "nav-header" %></h1>
    <hr />
  </div>
</div>
 
 
 

 
 




